:root {
	--main-green: #a8ffce;
	--sub-green: #faffd1;
	--accent-green: #7ee8fa;
	--button-green: #7ee8fa;
	--button-green-hover: #a8ffce;
	--title-green: #43e97b;
	--title-shadow: #e0ffe6;
}

body,
html {
	min-height: 100vh;
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	background: linear-gradient(
		135deg,
		var(--main-green) 0%,
		var(--sub-green) 100%
	);
}
